version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      day: monday
      time: "03:00"
      timezone: UTC
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - dependabot
    ignore:
      - dependency-name: "eslint"
        update-types:
          - "version-update:semver-major"
      - dependency-name: "@eslint/js"
        update-types:
          - "version-update:semver-major"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "03:15"
      timezone: UTC
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - dependabot
